<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="/user/add" method="post" enctype="multipart/form-data">
    <input type="text" name="firstName" placeholder="First Name"><br>
    <input type="text" name="lastName" placeholder="Last Name"><br>
    <input type="text" name="nickname" placeholder="Nickname"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="text" name="phoneNumber" placeholder="Phone Number"><br>
    <input type="date" name="createdDate"><br><br>
    <input type="file" name="picture"><br><br>
    <input type="submit" name="Registration"><br>
</form>
</body>
</html>